body {
    background-color: gray;
    text-align: center;
    
}

#button{
    
    border-radius: 100px;;
    
}
button:hover{
    transform:scale(2)
}

.header {
    display: flex;
    background-color: chartreuse;
}



.canvas {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 24px;
    height: 24px;
    background-color: blueviolet;
}

#colors {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 30%;
    margin-right: 30%;

}